<table class="table  table-bordered">
    <thead>
        <tr>
            <td class="td-heading">Meal</td>
            <td class="td-heading">Price</td>									
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <div class="checkout-thumb">
                    <a href="meal_detail.html">
                        <img src="images/checkout/thumb-1.jpg" class="img-responsive" alt="thumb" title="thumb">
                    </a>
                </div>
                <div class="name">
                    <a href="meal_detail.html"><h4>Toasty Buns Burgur</h4></a>
                    <a href="restaurant_detail.html"><p>Restaurant Name</p></a>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>								
                        <span>4.5</span> 											
                    </div>
                </div>
            </td>																			
            <td class="td-content">$22.00</td>							
        </tr>									
    </tbody>
    <tbody>
        <tr>
            <td colspan="4">
                <h3 class="text-right">Total <ins>$22.00</ins></h3>											
            </td>
        </tr>
    </tbody>
</table>
