
body {
    font-family: 'Montserrat', sans-serif;
}

.cart-main {
    width: 100%;
   margin: auto;
  max-width: 650px;
  /* border: 2px solid red; */
}
.total-heading {
  margin-left: 6%;

}

.total-price {
  margin-left: 50%;
  color: red;
  font-size: 1.5rem;
}

.total-main {
    /* border: 2px solid red; */
    width: 95%;
    margin: 10% auto;
    max-width: 550px;
    display: flex;
    padding: 0.5em;
}
.individual-cart-main {
     display: flex;
    width: 95%;
    margin: auto;
    max-width: 550px;
   /* border: 2px solid red; */
   
}
.img-cart {
    width: 40%;
}

.place-main {
    width: 95%;
    margin:  auto;
    max-width: 550px;
}

.place-btn {
 margin-left: 35%;
}

.img-cart-src {
    width: 100%;
    /* border: 2px solid red; */
}

.cart-details {
   width: 60%;
   margin: 4%;
   display: flex;
}
.remove-cart {
 margin-top: 30%;
}

 /* -- quantity box -- */

 .quantity1 {
    margin-top: 30px;
    }
   
   .quantity1 .input-text.qty1 {
    height:10%;
    width: 40%;
    font-size: large;
    padding: 0 5px;
    text-align: center;
    background-color: transparent;
    border: 1px solid #efefef;
   }
   
   .quantity1.buttons_added1 {
    text-align: left;
    position: relative;
    white-space: nowrap;
    vertical-align: top; }
   
   .quantity1.buttons_added1 input {
    display: inline-block;
    margin: 0;
    height:40px;
    width:30%;
    vertical-align: top;
    box-shadow: none;
   }
   
   .quantity1.buttons_added1 .minus1,
   .quantity1.buttons_added1 .plus1 {
    height:40px;
    width: 30%;
    max-width: 500px;
    background-color: green;
    color: #efefef;
    box-shadow: none;
    border: none;
    cursor:pointer;}
   
   .quantity1.buttons_added1 .minus1 {
    border-right: 0; }
   
   .quantity1.buttons_added .plus1 {
    border-left: 0; }
   
   .quantity1.buttons_added1 .minus1:hover,
   .quantity1.buttons_added .plus1:hover {
    background: green; }
   
   .quantity1 input::-webkit-outer-spin-button,
   .quantity1 input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0; }
    
    .quantity1.buttons_added1 .minus1:focus,
   .quantity1.buttons_added1 .plus1:focus {
    outline: none; }

    @media only screen and (min-width: 400px) {
        .quantity1 {
            margin-top: 68px;
            }
            
      }

