.cform-one{
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left:20px;
	padding-right:20px;
	background-image:url("../images/food3.jpg");
	background-size: cover;
	background-position: 60% 60%;
}
.cform-main{
	background: white;
	width: 500px;
	border-radius: 10px;
	box-shadow: 0 15px 25px rgba(0,0,0,0.5);
	
	
}
.cform-main .cform-head{
	color:#0AC92B;
	font-size: 1.9rem;
	text-align:left;
	/* width: 70%; */
	/* padding: 32px 0px; */
	font-family: "Philosopher", sans-serif;
	padding-top: 33px;
}

.cform-main form{
	text-align: left;
	box-sizing: border-box;
}
form .text-field{
	position: relative;
	border-bottom:2px solid  silver;
	margin:30px 0; 
}
.text-field input{
	width:100%;
	padding: 0 15px;
	height: 40px;
	font-size: 16px;
	color: black;
	border:none;
	background: none;
	outline: none;
}
.text-field label{
	position: absolute;
	top: 50%;
	left:5px;
	color:silver;
	transform: translateY(-50%);
	font-size:14px;
	pointer-events: none;
	transition: .5s;
	letter-spacing:0.7px;
}
.text-field span::before{
	content: '';
	position: absolute;
	top: 40px;
	left: 0px;
	width:0%;
	height: 2px;
	background:#0AC92B;
	transition: .7s;
}
.text-field input:focus ~ label,
.text-field input:valid ~ label{
	top:-5px;
	color:#0AC92B;
}

.text-field input:focus ~ span:before,
.text-field input:valid ~ span:before 
{
	width: 100%;
}
.submit{
	width: 80%;
	border: 1px solid;
	background:#0AC92B;
	border-radius:25px;
	font-size: 18px;
	color: white; 
	margin: 32px 0px;
	cursor: pointer;
	outline: none;
}
.cform-main form{
	padding: 0 20px;
	box-sizing: border-box;
}

.btnotp {
	width: 200px;
	padding-top: 12px;
	padding-bottom:12px;
	text-align: center;
	color: #000;
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 40px;
	font-size: 15px;
	margin-top:20px;
	cursor: pointer;
	display: inline-block;
  }
  .button-o {
	color: #fff;
	border: 3px solid #0AC92B;
	background: linear-gradient(30deg, #0AC92B 50%, transparent 50%);
	background-size: 500px;
	background-repeat: no-repeat;
	background-position: 0%;
	transition: background 350ms ease-in-out;
  }
  .button-o:hover {
	background-position: 100%;
	color: #0AC92B;
  }

@media only screen and (min-width :768px)
{
.cform-main .cform-head{
	text-align: center;
	font-size: 2.2rem;
}
.cform-main form{
	text-align: center;
}

.cform-main form{
	padding: 0 40px;
	box-sizing: border-box;
}
.cform-one{
	padding-left:0px;
	padding-right:0px;
}
.btnotp{
	padding-top: 15px;
	padding-bottom:15px;
	font-size: 18px;
}
.text-field label{
	font-size: 18px;
}
}