/* .main-product-container {
    width: 70%;
    margin: 5% auto;
    max-width: 650px;
}
.img-category {
    position: relative;
    width: 100%;
}

.full-category {
    width: 100%;
   margin:3% auto;
  max-width: 650px;
}
.msg-category {
    text-align: center;
    padding: 0.3em;
}
.img-text {
 background-color: black;
 color: white;
 text-align: center;
 
}
.img-text h6 {
   font-size: 1rem;
   padding: 0.3em;
    
   } */